<!DOCTYPE html>
<html>
<head>
  <title>Stocktracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<%= render 'layouts/navbar'%>
	<% flash.each do |name,msg| %>
		<div class="container animated bounceInDown">
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div class="alert alert-dismissible alert-<%= "#{name}" %>">
					  <button type="button" class="close" data-dismiss="alert"><span class="glyphicon glyphicon-remove-circle"></span></button>
					  <b><%= msg %></b>
					</div>
				</div>
			</div>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
